<div class='features-page'>
	<div class='featured-image'>
		<h1>Features</h1>
	</div>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6 order-lg-1'>
				<h2>Document sharing and annotation</h2>
				<p>Share and annotate your documents with Congrea’s document sharing feature. Use the document dashboard as a planner by managing and sequencing your uploaded documents. Store the documents as a cloud repository available on the dashboard for your on-going and upcoming sessions.</p>
				<p>Annotate the document with shapes and text. Document types supported include .pdf, .ppt, .docx, .gif, .txt, .xml, .pptx, .doc, .jpg and .png. 
				</p>
			</div>
			<div class='col-lg-6 order-lg-2'>
				<%= image_tag("features/whiteboard-annotations.png", :alt => "feature whiteboard") %>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-6 order-lg-2'>
				<h2>Online Video Sharing</h2>
				<p>Upload and share online and YouTube videos using URL. Control the pace of the shared video to suit your audience.</p>
				<p>Manage the repository of uploaded videos through the video dashboard.</p>
			</div>
			<div class='col-lg-6 order-lg-1'>
				<%= image_tag("features/video-sharing.png", :alt => "feature video sharing") %>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-6 order-lg-1'>
				<h2>Screen Sharing</h2>
				<p>Share your full screen or just a window at high resolution with image-based screen sharing feature of Congrea. Request any of the learners to share her screen with you which you can further share with the whole classroom.</p>
			</div>
			<div class='col-lg-6 order-lg-2'>
				<%= image_tag("features/screen-sharing.png", :alt => "feature screen sharing") %>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-6 order-lg-2'>
				<h2>Audio Visual Interaction</h2>
				<p>Want to make your session more interactive? Just enable your camera and microphone and enhance the user involvement by imparting your knowledge directly through your live video.</p>
			</div>
			<div class='col-lg-6 order-lg-1'>
				<%= image_tag("features/microphone.png", :alt => "feature microphone") %>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-6 order-lg-1'>
				<h2>HTML5 Presentation Sharing</h2>
				<p>Share high quality online presentations hasslefree through Congrea. Use the URL of your HTML5 presentation and share it anytime during your class.</p>
			</div>
			<div class='col-lg-6 order-lg-2'>
				<%= image_tag("features/html5.png", :alt => "feature html5 presentation") %>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-6 order-lg-2'>
				<h2>Private and Public Chat</h2>
				<p>Want to discuss something really important during class, Congrea understands the need of private as well as public chat and enables you to interact with your fellow participants during the session.</p>
			</div>
			<div class='col-lg-6 order-lg-1'>
				<%= image_tag("features/chat.png", :alt => "feature chat") %>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-6 order-lg-1'>
				<h2>Session Recording and Playback</h2>
				<p>Through with a session? Wanna save it? Well Congrea automatically records and saves your session for further self paced learning of your learners. We never compromise with the quality and the same is applied in our recordings, the slidebar gets pinned with different colours to help the viewer recognize changing context, added bookmarks, notes and questions posted in the raise question feature.</p>
			</div>
			<div class='col-lg-6 order-lg-2'>
				<%= image_tag("features/recordings.png", :alt => "feature recordings") %>
			</div>
		</div>
	</div>
</div>